* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
}

.page1 {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: black;
}

.intro {
  display: inline-block;
  margin-top: 30%;
  color: white;
  line-height: 40px;
}

.seperator {
  color: #009b72 !important;
  font-weight: bold;
}

.cv {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.cv a {
  color: white !important;
}

.cv a:hover {
  color: #009b72;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #009b72;
  border-right: 5px solid #009b72;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.navbar {
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1111;
}

#navvv {
  padding: 0;
}

#navbarSupportedContent {
  float: left;
  line-height: 80px;
  width: 100vw;
  background-color: #1b1b1b;
  border-bottom: 4px solid #009b72;
}

#navbarSupportedContent a {
  color: white;
}

#navbarSupportedContent a:nth-child(1) {
  padding-left: 100px;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}

/* ABOUT ME */
#about-me {
  text-align: center;
  color: black;
  position: relative;
  padding: 0.8rem;
  padding-top: 120px;
}

#about-me::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #009b72;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

._nology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

._nology h3, ._nology p, ._nology ul {
  text-align: center;
  padding: 5px;
}

.pwc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.pwc h3, .pwc p, .pwc ul {
  text-align: center;
  padding: 5px;
}

@media screen and (max-width: 1140px) {
  .experience {
    font-size: 0.75em;
  }
  #about-me {
    font-size: 0.75em;
    padding-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  .experience {
    font-size: 0.75em;
  }
  #about-me {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 700px) {
  .experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* MY SKILLS */
.inner {
  padding-top: 20px;
  background-color: #35393c;
}

.header {
  text-align: center;
  color: white;
  position: relative;
  padding: 1rem;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #009b72;
}

.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  gap: 1rem;
  padding: 1rem 80px;
  margin-bottom: 50px;
}

.skill-box {
  cursor: pointer;
  color: white;
  padding: 1rem;
}

.skill-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.img {
  width: 90px;
  height: 90px;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 45px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.skill-icon {
  width: 50px;
  z-index: 2;
}

.img:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0px 0px 45px;
}

.img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.skill-title h3 {
  color: white;
  margin-top: 0.5rem;
}

@media screen and (max-width: 990px) {
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* MY PROJECTS */
.project-title {
  text-align: center;
  color: black;
  position: relative;
  padding: 1rem;
}

.project-title::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #009b72;
}

#project-nav {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 10px;
  margin: 30px auto;
}

#project-nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#project-nav a:hover {
  color: #009b72;
}

#wrapper {
  width: 90vw;
  margin: 50px auto;
  position: relative;
  /* SO I CAN USE ABSOLUTE LATER */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

#wrapper article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

#wrapper article div {
  height: 90%;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

#wrapper article div:hover {
  background-color: #009b72;
  color: white;
}

#wrapper article div:hover a {
  color: white;
}

#wrapper article div:hover a i {
  color: white;
}

#wrapper article div h3 {
  font-weight: bold;
}

#wrapper article div p {
  color: white;
}

.fa-file-code {
  font-size: 36px;
  padding: 10px;
  color: black;
}

.fa-chrome {
  font-size: 36px;
  padding: 10px;
  color: black;
}

@media only screen and (max-width: 990px) {
  #wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  #wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
}

/* YOUTUBE */
.youtube {
  color: black;
}

#YT-intro {
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}

.YT-title {
  text-align: center;
  position: relative;
  padding: 1rem;
}

.YT-title::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #009b72;
}

.box-around {
  width: 100vw;
  height: 650px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -ms-grid-rows: 275px 275px;
      grid-template-rows: 275px 275px;
  grid-gap: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  margin-top: 30px;
}

.box-around .item {
  margin: auto 0;
  height: 250px;
  width: 250px;
  text-align: center;
}

.box-around .item .fa-youtube {
  font-size: 60px;
  color: red;
  margin: 40px 0;
}

/* CONTACT */
.contact {
  background-color: #35393c;
  color: white;
  padding: 40px;
}

.contact h4 {
  color: white;
  text-align: center;
  padding: 30px;
}

.contact-title {
  text-align: center;
  position: relative;
  padding: 1rem;
}

.contact-title::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: white;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dad0d0 !important;
  margin: 0 auto;
}

.details input {
  padding: 10px;
  width: 40%;
  border-radius: 2px;
}

.details .submit {
  background-color: #35393c;
  color: white;
  border: 3px solid white;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.details #message {
  padding-bottom: 50px;
}

.email-link {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email-link .fa-envelope {
  font-size: 42px;
  margin-right: 70px;
  color: white !important;
}

.email-link .fa-envelope:hover {
  color: #009b72 !important;
}

footer {
  width: 100vw;
  background-color: #3f4545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

footer .socials {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
}

footer .socials a {
  color: white !important;
}

footer .socials i {
  font-size: 32px;
  margin: 15px auto;
}

footer .socials i:hover {
  color: #009b72;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */